body {
    background-image: url(https://r.hswstatic.com/w_907/gif/now-TwuUAjsF-coins_chuckcross_eyeem_gettyimagesjpg-1210-680.jpg);
    background-repeat: no-repeat;
    height: 100vh; 
    background-size: cover;
    font-family: sans-serif;
    
}

.form1 {
    text-align: center;
}

h1 {
    color: black;
    border-style: inset;
    border-radius: 40px;
    border-width: 13px;
    border-color: black;
    background-color: red;
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 15;
    color: black;
    border-style: inset;
    border-width: 3px;
    border-color: black;
    background-color: red;
    display: inline-block;
    margin-left: 45%;
    border-radius: 19px;
}

.form1 input[type="submit"]{
    border-style: double;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    background-color: red;
}

.form1 input[type="text"]{
    border-style: inset;
    background-color: red;
    border-radius: 20px;
    border-color: black;
    height: 25px;
    width: 200px;
}

.result {
    color: black;
    border-radius: 21px;
    padding: 5px;
    margin-left: 38%;
    border-style: solid;
    border-color: unset;
    background-color: red;
    display: inline-block;
}
